.page {
	display: block;
	position: relative;
	overflow: hidden;
	height: 180px;
}
.page-image {
	display: block;
	height: 100%;
	width: auto;
	margin: 0 auto;
}
.page-front {
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	color: #e7e7e7;
	padding: 0.8rem;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.page-title {
	color: #fff;
}
.page-body {
	margin: 0;
	bottom: 0;
	line-height: 1.6rem;
	height: 4.8rem;
	overflow: hidden;
}
.list-group .text-secondary p,
.list-group .text-secondary blockquote {
		margin-bottom: 0.1rem;
}
.waterfall {
	position: relative;
}
.waterfall-item {
	opacity: 0;
	transition: opacity 0.3s ease-in;
	position: absolute;
}
