<div class="list-group">
	{{ range ($.Scratch.Get "data") }}
	{{ if $.Scratch.Get "summary" }}
	<div class="list-group-item list-group-item-action">
		<a class="d-flex w-100 justify-content-between list-group-item-action" href="{{.Permalink}}">
			<h5>{{ .Title }}</h5>
			<span class="text-secondary">{{ .Date.Format "2006-01-02"}}</span>
		</a>
		<div class="text-secondary">{{ .Summary }}</div>
	</div>
	{{ else }}
	<a class="list-group-item list-group-item-action" href="{{.Permalink}}">
		<div class="d-flex w-100 justify-content-between">
			<span>{{ .Title }}</span>
			<span class="text-secondary">{{ .Date.Format "2006-01-02"}}</span>
		</div>
	</a>
	{{ end }}
	{{ end }}
</div>
