{{ define "main" }}
	<div class="row">
		{{ $pager := .Paginate .Site.RegularPages 25 }}
		{{ if eq $pager.PageNumber 1 }}
		<div class="col-12" style="background: #343a40; color: #fff;">
			<div class="text-center">
				<h1 class="display-2 font-weight-bold"> Hello World </h1>
				<p class="lead"></p>
			</div>
		</div>
		<div class="col-12" style="background: #000;">
			{{ partial "feature-page.html" . }}
		</div>
		{{ end }}
		<div class="col-12 my-4" style="background: #fff;">
			{{ $.Scratch.Set "data" $pager.Pages }}
			{{ $.Scratch.Set "summary" true }}
			<div class="row">
				<div class="col-xl-9" style="margin: 0 auto;">
					{{ partial "data-recent-card.html" . }}
				</div>
			</div>
			{{ if $pager.HasNext }}
			<a href="{{$pager.Next.URL}}" class="btn btn-info mt-3">&laquo; 向前</a>
			{{ end }}
			{{ if $pager.HasPrev }}
			<a href="{{$pager.Prev.URL}}" class="btn btn-info mt-3">向后 &raquo;</a>
			{{ end }}
		</div>
	</div>
{{ end }}
